{% extends 'base.html' %}
{% load static %}
{% block content %}




  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Receptionist Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
          <!-- /.messages -->
        <div class="row">

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-user-injured"></i></span>
              
              <div class="info-box-content">
                <span class="info-box-text">Total Patients</span>
                <span class="info-box-number">{{total_patients}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-user-clock"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Waiting Patients</span>
                <span class="info-box-number">{{waiting_patients}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-procedures"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Critical Patients</span>
                <span class="info-box-number">{{critical_patients}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-bed"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Available Beds</span>
                <span class="info-box-number">{{available_beds}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->


        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-8">
            <!-- MAP & BOX PANE -->
            <div class="card">
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Patient List</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Symptoms</th>
                      <th>Severity</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for patient_list in patient_lists %}
                    <tr>
                      <td>{{patient_list.name}}</td>
                      <td>{{patient_list.symptoms}}</td>
                      <td>{{patient_list.get_severity_display}}</td>
                      <td>{{patient_list.get_status_display}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <a href="{% url 'patient_list' %}" class="btn btn-sm btn-secondary float-right">View All Patients</a>
              </div>
              <!-- /.card-footer -->
            </div>
              <!-- /.card-header -->
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.row -->

          </div>
          <!-- /.col -->

          <div class="col-md-4">
            <!-- Info Boxes Style 2 -->
            <div class="info-box mb-3 bg-warning">
              <div class="mx-auto">
                <div class="text-center">
                  <i class="fas fa-hospital-user fa-2 x mb-3"></i>
                  <h5>Patient List</h5>
                  <a href="{% url 'patient_list' %}" class="small-box-footer text-center text-dark-50 text-decoration-none py-2 d-block w-100"      style="background-color: rgba(0, 0, 0, 0.15); font-size: 0.9rem; transition: background 0.2s;">Open <i class="fas fa-arrow-circle-right ms-1"></i> </a>
                </div>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-success">
              <div class="mx-auto">
                <div class="text-center">
                  <i class="fas fa-user-plus fa-2 x mb-3"></i>
                  <h5>Add Patients</h5>
                  <a href="{% url 'add_patient' %}" class="small-box-footer text-center text-dark-50 text-decoration-none py-2 d-block w-100"      style="background-color: rgba(0, 0, 0, 0.15); font-size: 0.9rem; transition: background 0.2s;">Open <i class="fas fa-arrow-circle-right ms-1"></i> </a>
                </div>
              </div>
              
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-danger">
              <div class="mx-auto">
                <div class="text-center">
                  <i class="fas fa-user-clock fa-2 x mb-3"></i>
                  <h5>ER Queue</h5>
                  <a href="{% url 'erqueue' %}" class="small-box-footer text-center text-dark-50 text-decoration-none py-2 d-block w-100"      style="background-color: rgba(0, 0, 0, 0.15); font-size: 0.9rem; transition: background 0.2s;">Open <i class="fas fa-arrow-circle-right ms-1"></i> </a>
                </div>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->


            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->



{% endblock %}