{% extends 'base.html' %}
{% load static %}
{% block content %}




  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Resource List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Resource List</li>
            </ol>
          </div>
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">

          <!-- /.col -->
          <!-- /.col -->
        </div>
        <!-- /.row -->


        <!-- Main row -->
        <div class="row">
          <div class="col-12">
            <!-- /.card -->

            <div class="card bg-dark">
              <!-- <div class="card-header">
                <h3 class="card-title">Patients List</h3>
              </div> -->
              <!-- /.card-header -->
              {% if messages %}
                {% for message in messages %}
                  <div class="alert {% if message.tag == 'error' %} alert-danger{% else %} alert-success {% endif %}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
                <!-- /.messages -->
              <div class="card-body">
                <table id="example3" class="table table-bordered table-striped ">
                  <thead>
                  <tr>
                    <th>Resource</th>
                    <th>Total Count</th>
                    <th>Available Count</th>
                    {% if request.user.userprofile.role == 'admin' %} 
                    <th>Edit</th>
                    {% endif %}
                  </tr>
                  </thead>
                  <tbody>
                    {% for resource in resources %}
                  <tr>
                    <td>{{resource.name}}</td>
                    <td>{{resource.total_count}}</td>
                    <td>{{resource.available_count}}</td>
                    {% if request.user.userprofile.role == 'admin' %} 
                    <td><a href="{% url 'edit_resource' resource.pk %}"><i class="fas fa-edit"></i></a></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  <tr>
                    <td>Doctors</td>
                    <td>{{total_doctors}}</td>
                    <td>{{doctor_count}}</td>
                    {% if request.user.userprofile.role == 'admin' %} 
                    <td>-</td>
                    {% endif %}
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Resource</th>
                    <th>Total Count</th>
                    <th>Available Count</th>
                    {% if request.user.userprofile.role == 'admin' %} 
                    <th>Edit</th>
                    {% endif %}
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->



{% endblock %}